.modal{
 background-color: var(--background-tertiary);
 padding: 2.5rem 1.25rem;
}

#myFormModal{
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fixo na tela */
  top: 0;
  left: 0;
  max-width: 375px;
  max-height: 100vh;
  z-index: 1000; /* Camada superior */
}

.modal-content{
  display: grid;
}

.input-text,
.input-num,
.input-area{
  display: grid;
}

.input-date-schedules,
.input-hour-shedules{
  display: grid;
}

.modal-content > h1{
 color: var(--content-primary);
 font-family: "Inter Tight", sans-serif;
 font-size: 1.5rem;
 line-height: 2rem;
 font-weight: bold;
}

.modal-content > p{
 color: var(--content-secondary);
 font-size: 0.875rem;
 line-height: 1.5rem;
 font-weight: medium;
}


label{
  color: var(--content-primary);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}   


input[type="text"],
input[type="number"],
input[type="time"],
#date-schedules {
  padding: 0.75rem;
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: 9px;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="number"],
textarea{
 color: var(--content-primary);
}

input[type="time"]{
  color: var(--content-secondary);
}

.btn-submit{
  text-align: end;
}

button[type=submit]{
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  color: #050505;
  background-color: var(--content-brand);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 9px;
  margin-top: 1.75rem;
  border: none;
}

textarea {
  padding: 1.25rem;
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: 9px;
  margin-bottom: 1rem;
  outline: none;
}

form{
  margin-top: 1.75rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
textarea:focus{
 border: 1px solid var(--border-brand);
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="time"]:hover,
textarea:hover{
 border: 1px solid var(--border-secondary);
}



 .input-date-schedules{
  margin-bottom: 1rem;
} 

.input-text i,
.input-num i,
.input-date-schedules i,
.input-hour-shedules i{
  margin-left: 0.5rem;
  align-content: center;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
 }
 
 .input-text input,
 .input-num input,
 .input-hour-shedules input{
   /* flex: 1; */
   background-color: transparent;
   outline: none;
   border: 1px solid var(--border-primary);
   padding-left: 2.5rem;
   /* max-width: 40%; */
 }

 .input-text,
 .input-num,
 .input-date-schedules,
 .input-hour-shedules {
  /* display: flex; */
  position: relative;
  align-content: center;
  align-items: center;
}

.input-area{
  margin-bottom: 1rem;
}

#date-schedules{
  background-color: transparent;
  outline: none;
  border: 1px solid var(--border-primary);
  padding-left: 2.5rem;
}



input::placeholder,
textarea::placeholder {
 font-size: 1rem;
 color: var(--content-secondary);
}

button:hover{
 background-color: var(--background-highlights);
}

@media (width >= 78em ) {
  #myFormModal{
    width: 55rem;
    /* height: ; */
    max-height: 100%;
    top: 10%;
    left: 25%;
    max-width: 100%;
    border-radius: 9px;
    overflow: hidden;
    padding: 2.5rem;
  }

}