/* header {
  padding-top: 0.75rem;
  padding-bottom: 2rem;
} */

#logo{
  padding-bottom: 0.75rem;
}

.head-text > h1 {
  font-family: "Inter Tight", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 32px;
  color: #F5F4F5;
  margin-bottom: 0.25rem;
}

.head-text > h3{
 color: var(--content-secondary);
 font-weight: medium;
 font-size: 0.875rem;
 line-height: 24px;
 padding-bottom: 0.75rem;
}
/* .date-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */


input[type="date"] {
  background-color: var(--background-primary);
  color: var(--content-secondary);
  border-radius: 9px;
  border: 1px solid var(--border-primary);
  font-size: 1rem;
}
.input-date i {
 margin-left: 0.5rem;
 /* align-content: center; */
 position: absolute;
 top: 25%;
}

.input-date input {
  /* flex: 1; */
  background-color: transparent;
  outline: none;
  border: 1px solid var(--border-primary);
  /* max-width: 40%; */
  padding-left: 2.5rem;
}
/* .input-date span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} */

.input-date {
  display: flex;
  height: 3rem;
  position: relative;
  align-content: center;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url(../assets/icons/arrow-input.svg) no-repeat;
}

.schedule-period header {
  display: flex;
  background-color: var(--background-tertiary);
  justify-content: start;
  gap: 8px;
  border-radius: 9px;
  /* border-bottom: 2px solid var(--border-primary); */
  padding: 1rem;
}

.schedule-period{
  margin-top: 2rem;
  background-color: var(--background-tertiary);
  border-radius: 10px;
}

.schedule-period header strong {
  color: var(--content-primary);
  font-size: 1rem;
  font-weight: bold;
  font-family: "Inter Tight", sans-serif;

}

.schedule-period header span {
  color: var(--content-secondary);
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
}


.period {
  padding: 1rem;
  list-style: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--border-primary);
}

.period li {
  margin-left: .5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.clients strong {
  color: var(--content-primary);
  font-size: 0.875rem;
  line-height: 24px;
  margin-right: 1rem;
}

.clients {
  margin-bottom: 4px;
}

.pet-name {
  color: var(--content-primary);
  font-weight: bold;
}

.client-name {
  color: var(--content-secondary);
  font-size: 0.875rem;
  line-height: 24px;
}

.service {
  color: var(--content-secondary);
  margin-bottom: 8px;
}
.action{
  margin-left: auto;
}
.action span {
  color: var(--content-tertiary);
  cursor: pointer;
  font-size: 0.9rem;
}

.action span:hover {
  text-decoration: underline;
  color: var(--content-primary);
}
.btn-schedule{
  background-color: var(--background-tertiary);
  text-align: center;
  margin-top: 4rem;
  padding-block: 1rem;
  width: 100%;
}
#btn-schedules {
  background-color: var(--background-brand);
  padding: 1rem;
  border: none;
  border-radius: .35rem;
  color: #050405;
}

@media (width >= 79em) {
  .head-content{
    display: flex;
    align-items: center;
  }

  .input-date{
    margin-left: auto;
  }

  .container{
    padding: 5rem;
    padding-top: 0;
    margin-inline: 15rem;
    align-items: center;
    padding-bottom: 0;
  }

  .btn-schedule{
    padding-top: 0;
    text-align: end;
    justify-content: end;
    background-color: var(--background-primary);
    padding-right: 3rem;
    padding-bottom: 2rem;
    margin-top: 0;
  }

  .input-date input {
    max-width: 100%;
  }

  .input-date i {
    justify-content: center;
    align-content: center;
  }
}